.layers li{
    cursor: pointer;
    background-color: rgb(112, 74, 27);
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: #575757ff;
}
/* .layers{
    display: flex;
    margin: 0;
    margin-block: 0;
    padding: 0;
    align-items: flex-start;
} */